body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h5 {
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box; /* чтобы учитывать padding в расчетах ширины */
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    animation: slideIn 0.5s ease-out;
}
body {
    transition: background-color 0.5s;
}

body {
    transition: background-color 0.5s;
}
.dark-mode {
    background-color: #0A1F32;
    color: #fff;
}

.dark-mode-form {
    background-color:#2D384A ;
    color: #fff;
}


label {
    color: #344756; /* Цвет текста переключателя */
}

.dark-mode label {
    color: #344756; /* Цвет текста переключателя в темной теме */
}


.dark-mode form {
    background-color: rgba(255, 255, 255, 0.25); /* Цвет фона формы в темной теме */
}
.dark-mode input[type= "text"]{
    background-color: rgba(255, 255, 255, 0.25);
}
.dark-mode input[type = "submit"]{
    background-color: rgba(255, 91, 0, 0.7);

}
.dark-mode h5{
    color: #ffffff;
}